<h1>Query and Response</h1>

<%= @response.search_terms %>

<ol>
  <% @grouped_articles.keys.sort.each do |month| %>
    <h3>
      <%= month.strftime("%B %Y") %>
    </h3>
      <%  for article in @grouped_articles[month]  %>
        <li><%= article.headline  %></li>
      <% end %>
  <% end %>
</ol>
