<h1>Results</h1>




<%= @response.search_terms  %>


<ol>
  <% @response.articles.each do |article| %>
    <li> <a href="<%= article.url %>"><%= article.headline %></a> <%= article.pub_date.strftime("%B %d, %Y") %> </li>
  <% end  %>
</ol>

<div id="d3-hook"></div>
