body {
  background-color: #b2b2ff;
}

.container {
  text-align: center;
}

form.new_query {
  background-color: #ccccff;
  width: 300px;
  height: 300px;
  margin: 0px auto;
  border-radius: 15%;
  padding-top: 15px;
}

.query-form-header {
  padding-top: 15px;
}

.query-field {
  padding: 10px;
  margin: 10px;
}
